<section class="post-card">
  <!-- The contents of the post card links to the post page using the painting ID -->
  <a href="/posts/{{id}}">
    <!-- The card contains the post name as the card header -->
    <header>{{title}}</header>
    <!-- In the body of the card, the content is displayed along with the artist name -->

    <div class="post-card-content">
      <p>By: {{post_content}}</p>
    </div>

    <div class="post-card-user">
        <!-- Displays the date the blog was posted with a line break -->
        <span class="post-date">Posted on: {{format_date created_at}}</span><br>
        <!-- Displays the user who posted the blog post -->
        <span class="post-user">by {{user.username}}</span> 
        <p>{{comments.length}} {{format_plural 'comment' comments.length}}</p>
    </div>
  </a>
</section>