<section class="post-card">
  <!-- The contents of the post card links to the post page using the post ID -->
  <a href="/api/posts/{{id}}">
    <!-- The card contains the post name as the card header -->
    <header>{{title}}</header>
    <!-- 
    In the body of the card, the content is displayed along with the
    date posted and username of poster
    -->

    <div class="post-card-content">
      <p>{{post_content}}</p>
    </div>

    <div class="post-card-user">
        <!-- Displays the date the blog was posted with a line break -->
        <span class="post-date">Posted on: {{format_date created_at}}</span><br>
        <!-- Displays the user who posted the blog post -->
        <span class="post-user">By: {{user.username}}</span> 
        <p>{{comments.length}}</p>
    </div>
  </a>
</section>